<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamcro</title>
    <script src="/s/js/vue.js"></script>
    <style>
body { background-color: #333; color: #bbb; }
button { background-color: #999; color: black; padding: .5em 1em; }
button:disabled { color: #555; }
input { background-color: black; color: #eee; }
textarea { background-color: black; color: #eee; }
#quick {
  display: flex;
  flex-wrap: wrap;
  gap: .5em 2em;
}
#stat { color: red; }
.msg {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 1em;
}
.msg > textarea { grid-column: 1/5; }
    </style>
  </head>
  <body>
    <h1>Gamcro – Game Macros</h1>
    <main>
      <div id="quick">
        <button @click="addMsg()">New Text</button>
        <input v-model.lazy="qtype" placeholder="quick type">
        <input v-model.lazy="qclip" placeholder="quick clip">
      </div>
      <span id="stat">{{stat}}</span>
      <div v-for="(msg, idx) in msgs" :key="idx" class="msg">
        <textarea v-model="msgs[idx]" placeholder="Type the message here"></textarea>
        <button :disabled="msg.length==0" @click="typeMsg(msg)">Type</button>
        <button :disabled="msg.length==0" @click="clipMsg(msg)">Clip</button>
        <div></div><button @click="delMsg(idx)">Delete</button>
      </div>
    </main>
    <script>
const gmcApp = {
  data() {
    return {
      stat: "",
      qtype: "",
      qclip: "",
      msgs: [""]
    };
  },
  watch: {
    qtype(n, o) { if (n != "") this.typeMsg(n); },
    qclip(n, o) { if (n != "") this.clipMsg(n); },
    msgs: {
      handler(n, o) {
        localStorage.msgs = JSON.stringify(this.msgs);
      },
      deep: true
    }
  },
  methods: {
    addMsg() {
      this.msgs.push("");
      console.log("new msg");
    },
    delMsg(i) {
      this.msgs.splice(i, 1);
    },
    typeMsg(txt) { this.sendMsg("/type-str", txt); },
    clipMsg(txt) { this.sendMsg("/clip", txt); },
    sendMsg(op, txt) {
      console.log("send", op, txt);
      this.stat = "";
      let init = { method: "POST", body: txt };
      fetch(new Request(op, init))
      .then(resp => {
        if (!resp.ok) {
          this.stat = resp.statusText;
        }
        this.qtype = "";
        this.qclip = "";
      });
    }
  },
  mounted() {
    if (localStorage.msgs) {
      try {
        this.msgs = JSON.parse(localStorage.msgs);
      } catch(x) {
        console.log("load msgs from local storage: ", x);
        this.msgs = [""];
      }
    }
  },
}
Vue.createApp(gmcApp).mount('main');
    </script>
  </body>
</html>